name: 1mpu1se-devenv

services:
    # Key-value database
    redis:
        image: redis:8.2-alpine
        restart: always
        command: redis-server --save 60 1 --loglevel warning
        ports:
          - "6379:6379"
        volumes:
          - ./data/redis:/data

    # Object-relational database
    postgres:
        image: postgres:18.0-alpine
        restart: always
        environment:
          - POSTGRES_PASSWORD=postgres
        ports:
          - "5432:5432"
        volumes:
          - ./data/postgres:/var/lib/postgresql

    # Simple Storage Service (S3)
    minio:
        image: minio/minio:RELEASE.2025-09-07T16-13-09Z
        restart: always
        command: server /data
        ports:
          - "9000:9000"
        volumes:
          - ./data/minio:/data

    # Search Engine - ELASTICSEARCH
    elasticsearch:
        image: elasticsearch:8.11.0  
        restart: always
        environment:
          - discovery.type=single-node
          - xpack.security.enabled=false
          - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
          - network.host=0.0.0.0
        ports:
          - "9200:9200"
        volumes:
          - ./data/elasticsearch:/usr/share/elasticsearch/data
        


     # СЕРВИСЫ 

    search-service:     # 
        build: ./services/search-service
        ports:
          - "8000:8000"
        depends_on:
          - elasticsearch